<main class="main">
  <section class="advice">
    <h1 class="advice__title js-advice-id"></h1>
    <p class="advice__phrase js-advice-phrase">
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum
      architecto nisi, laboriosam autem dolores maiores dignissimos, eaque
      perspiciatis numquam eum hic officiis quibusdam nulla repellat at? Est
      tempora illo odio."
    </p>
    <img
      class="advice__divider"
      src="../assets/images/pattern-divider-mobile.svg"
      alt="Divider"
    />
    <div class="advice__dice">
      <img
        class="advice__dice--icon"
        src="../assets/images/icon-dice.svg"
        alt="Icon Dice"
      />
    </div>
  </section>
</main>
